.img-upload {
  display: flex;
  flex-wrap: wrap;
}

.img-upload-item {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--bg-color-secondary);
  color: var(--theme-color);
  position: relative;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.img-upload-item:hover {
  border-color: var(--theme-color);
  box-shadow: 0 0 5px 0 var(--theme-color);
}


.img-upload-item-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}