.popup {
  position: fixed;
  top: 10%;
  bottom: 0;

  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--border-color);
  border-bottom: none;
  box-shadow: 0 0 10px 0 var(--border-color);
  animation: popup 0.2s;
}

@keyframes popup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
} 