.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #eee;
}


.pics {
  display: flex;
  align-items: center;
}

.pic {
  width: 100%;
  flex: none;
}

.pic img {
  width: 100%;
  height: auto;
  display: block;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  z-index: 100;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}