.interactions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  width: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  backdrop-filter: blur(10px);
}

.replier {
  flex:1 1 auto;
}

.action {
  flex: 0 0 auto;
  margin: 0 10px;
}