.collect {
  font-size: 18px;
  cursor: pointer;
}

.collect.ed {
  color: #f0c14b;
  animation: like 0.5s;
}

.collect.tobe {
  color: var(--text-color);
  animation: cancel-like 0.5s;
}

.collect:hover {
  color: #f0c14b;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cancel-like {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}