/* HTML: <div class="loader"></div> */
.loading {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,var(--theme-color) 94%,#0000) top/6px 6px no-repeat,
    conic-gradient(#0000 30%,var(--theme-color));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 6px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}