.home-layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
   "navbar navbar"
   "channel content"
   "channel content";
}

@media (max-width: 600px) {
  .home-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
     "navbar"
     "content"
     "channel";
  }
}

.home-layout-navbar {
  grid-area: navbar;
}

.home-layout-content {
  padding: 16px;
  grid-area: content;
}


.home-layout-channel {
  grid-area: channel;
}