.home-layout-content {
  padding: 60px 10px 150px 210px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .home-layout-content {
    padding: 60px 10px 150px 10px;
    box-sizing: border-box;
  }
}